<form>

  <fieldset>
      <legend><span class="label round" >EA</span> </legend>
      <input type="radio" name="ea" value="1" id="ea1" ng-model="ea"><label for="ea1">دائما</label>
      <input type="radio" name="ea" value="2" id="ea2" ng-model="ea"><label for="ea2">لا، بالنسبة لما بين 1 و 5 ناخبين</label>
      <input type="radio" name="ea" value="3" id="ea3" ng-model="ea"><label for="ea3">لا، بالنسبة لأكثر من 5 ناخبين</label>
  </fieldset>

  <fieldset>
      <legend><span class="label round" >EB</span> </legend>
      <input type="radio" name="eb" value="1" id="eb1" ng-model="eb"><label for="eb1">دائما</label>
      <input type="radio" name="eb" value="2" id="eb2" ng-model="eb"><label for="eb2">لا، بالنسبة لما بين 1 و 5 ناخبين</label>
      <input type="radio" name="eb" value="3" id="eb3" ng-model="eb"><label for="eb3">لا، بالنسبة لأكثر من 5 ناخبين</label>
  </fieldset>

  <fieldset>
      <legend><span class="label round" >EC</span> </legend>
      <input type="radio" name="ec" value="1" id="ec1" ng-model="ec"><label for="ec1">دائما</label>
      <input type="radio" name="ec" value="2" id="ec2" ng-model="ec"><label for="ec2">لا، بالنسبة لما بين 1 و 5 ناخبين</label>
      <input type="radio" name="ec" value="3" id="ec3" ng-model="ec"><label for="ec3">لا، بالنسبة لأكثر من 5 ناخبين</label>
  </fieldset>

  <fieldset>
      <legend><span class="label round" >EG</span> </legend>
      <input type="radio" name="eg" value="1" id="eg1" ng-model="eg"><label for="eg1">أبداً</label>
      <input type="radio" name="eg" value="2" id="eg2" ng-model="eg"><label for="eg2">نعم، بالنسبة لما بين 1 و 5 ناخبين</label>
      <input type="radio" name="eg" value="3" id="eg3" ng-model="eg"><label for="eg3">لا، بالنسبة لأكثر من 5 نااخبين</label>
  </fieldset>


  <fieldset>
      <legend><span class="label round" >EH</span> </legend>
      <input type="radio" name="eh" value="1" id="eh1" ng-model="eh"><label for="eh1">نعم</label>
      <input type="radio" name="eh" value="2" id="eh2" ng-model="eh"><label for="eh2">لا</label>
  </fieldset>

  <fieldset>
      <legend><span class="label round" >EK</span> </legend>
      <input type="radio" name="ek" value="1" id="ek1" ng-model="ek"><label for="ek1">دائما</label>
      <input type="radio" name="ek" value="2" id="ek2" ng-model="ek"><label for="ek2">لا، بالنسبة لما بين 1 و 5 ناخبين</label>
      <input type="radio" name="ek" value="3" id="ek3" ng-model="ek"><label for="ek3">لا، بالنسبة لأكثر من 5 ناخبين</label>
  </fieldset>

  <fieldset>
      <legend><span class="label round" >EM</span> </legend>
      <input type="radio" name="em" value="1" id="em1" ng-model="em"><label for="em1">نعم</label>
      <input type="radio" name="em" value="2" id="em2" ng-model="em"><label for="em2">لا</label>
  </fieldset>

<fieldset>
    <legend><span class="label round" >EN</span> </legend>
    <input type="radio" name="en" value="1" id="en1" ng-model="en"><label for="en1">أبداً</label>
    <input type="radio" name="en" value="2" id="en2" ng-model="en"><label for="en2">نعم، بالنسبة لما بين 1 و 5 ناخبين</label>
    <input type="radio" name="en" value="3" id="en3" ng-model="en"><label for="en3">لا، بالنسبة لأكثر من 5 ناخبين</label>
</fieldset>

<fieldset>
    <legend><span class="label round" >EP</span> </legend>
    <input type="radio" name="ep" value="1" id="ep1" ng-model="ep"><label for="ep1">دائما</label>
    <input type="radio" name="ep" value="2" id="ep2" ng-model="ep"><label for="ep2">لا، بالنسبة لما بين 1 و 5 ناخبين</label>
    <input type="radio" name="ep" value="3" id="ep3" ng-model="ep"><label for="ep3">لا، بالنسبة لأكثر من 5 ناخبين</label>
</fieldset>

<fieldset>
    <legend><span class="label round" >EQ</span> </legend>
    <input type="radio" name="eq1" value="1" id="eq1" ng-model="eq1"><label for="eq1">لا أحد</label>
    <input type="radio" name="eq2" value="2" id="eq2" ng-model="eq2"><label for="eq2">النهضة</label>
    <input type="radio" name="eq3" value="3" id="eq3" ng-model="eq3"><label for="eq3">نداء تونس</label>
    <input type="radio" name="eq4" value="4" id="eq4" ng-model="eq4"><label for="eq4">الجبهة الشعبية</label>
    <input type="radio" name="eq5" value="5" id="eq5" ng-model="eq5"><label for="eq5">آخرون</label>
</fieldset>

<fieldset>
    <legend><span class="label round" >ER</span> </legend>
    <input type="radio" name="er" value="1" id="er1" ng-model="er"><label for="er1">نعم</label>
    <input type="radio" name="er" value="2" id="er2" ng-model="er"><label for="er2">لا</label>
</fieldset>

<fieldset>
    <legend><span class="label round" >ES</span> </legend>
    <input type="radio" name="es" value="1" id="es1" ng-model="es"><label for="es1">نعم</label>
    <input type="radio" name="es" value="2" id="es2" ng-model="es"><label for="es2">لا</label>
</fieldset>

<fieldset>
    <legend><span class="label round" >ET</span> </legend>
    <input type="radio" name="et" value="1" id="et1" ng-model="et"><label for="et1">نعم، تم إحترام الإجراءات</label>
    <input type="radio" name="et" value="2" id="et2" ng-model="et"><label for="et2">نعم، بصفة عامة، مع بعض التجاوزات البسيطة</label>
    <input type="radio" name="et" value="3" id="et3" ng-model="et"><label for="et3">لا، شهدت العملية مخالفات خطيرة</label>
</fieldset>




<fieldset class="sample-show-hide" ng-show="et">
    <legend>نص الرسالة</legend>

    <div class="small-12 large-6 large-push-6 columns">
        <label>انسخ هذا النص وأرسله في رسالة نصية
          <input type="text" value={{"C"+C+"EA"+ea+"EB"+eb+"EC"+ec+"EG"+eg+"EH"+eh+"EK"+ek+"EM"+em+"EN"+en+"EP"+ep+"EQ"+eq1+eq2+eq3+eq4+eq5+"ER"+er+"ES"+es+"ET"+et}} readonly>
        </label>
    </div>

    <div class="small-12 large-6 large-pull-6 columns">
      <label>أو إمسح هذه الصورة بهاتفك الجوال</label>
      <qrcode data='{{"C"+C+"EA"+ea+"EB"+eb+"EC"+ec+"EG"+eg+"EH"+eh+"EK"+ek+"EM"+em+"EN"+en+"EP"+ep+"EQ"+eq+"ER"+er+"ES"+es+"ET"+et}}' size="150"></qrcode>
    </div>

  </fieldset>

</form>
